.content {
  margin-top: 120px;
}

.statusCode {
  font-weight: 700;
  font-size: 288px;
}

.statusCode, .statusMessage, .link {
  text-align: center;
  color: #FF6060;
}

.statusMessage {
  line-height: 142%;
  font-size: 36px;
}

.link {
  display: block;
  margin-top: 180px;
  line-height: 25px;
  font-size: 18px;
  text-decoration: underline;
}