@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  --background-default: #FFF;
  --background-footer: #000;

  --page-width-default: 1440px;

  --font-default: 'Montserrat', sans-serif;

  --color-one: #FF6060;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-default);
  font-family: var(--font-default);
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  max-width: var(--page-width-default);
  margin: 0 auto;
  background: var(--background-default);
}